:root{
    --blanco:#ffffff;
    --oscuro: #000000;
    --gris:#757575;
    --secundario:#2d6feb;
   
}
html{
    font-size: 62.5%;
    box-sizing: border-box;
    
}


/* Scrool Snap*/

*, *:before, *:after{  /* Hack para Box Model */
    box-sizing: inherit;
}

body{
    font-size: 16px;
    font-family: "Carlito", sans-serif;
    box-sizing: border-box;
    background-color: var(--blanco);
    color: var(--blanco); 
   
    
}
.gra{
    background: linear-gradient(to right,
    #27bcd6 20%,
    #14FAF1 40%,
    #757575 60%,
    #14BAFA 70%);
    background-size:200%;
    color:transparent;
    animation: shine 6s linear infinite;
    background-clip:text;
    font-size: 6rem;
    margin-top: 0;
}


@keyframes shine {
    to{
        background-position: 200% center;
    }
}
@media (max-width:480px ) {
 .gra{font-size: 5rem;}
}
.navegacion-principal {
   width: 100%;
    background-color: var(--oscuro);
    display: flex;
    flex-direction:row ;
    justify-content: space-around;
    padding: 1rem;
}

.navegacion-principal a{
    width: 100%;
    height: 40px;
    display: flex;
    text-align:center;
    justify-content: space-around;
    color: var(--blanco);
   text-decoration : none;
   font-size: 2rem;
   font-weight:bold;
   padding: 1rem;
   margin-bottom: 2px;
   white-space: nowrap;
  
  
}

.diri:hover{
    text-decoration:underline;
}


@media (min-width:468px) {
 .navegacion-principala{
    flex-direction: row;
    justify-content: space-around;
    font-size: 1rem;
    
 }
}



    .container{
        background-color: var(--blanco);
        color: var(--blanco);
    }

    @media (min-width: 768px) {
        .container{
            display: grid;
            grid-template-columns: 50% 50%;
            height: 100vh;

           
        }
    }

    
    .numerou{
        display: flex;
        justify-content: center;
        justify-items: center;
        flex-direction: column;
        background-color:var(--oscuro);
        height: 100vh;

    }
    
    .numerod{
        display:flex;
        justify-content:center;
        align-items: center;
        background-color:var(--oscuro);
        height: 100vh;

    }
    
    @media (max-width: 480px) {
     .numerod{

        height: 66rem;

     }

     .numerou{
        height: 66rem;

     }
    }
    

    
  
    

.bite{
    width: 200px;
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 4px;
    text-align: center;
    border: none;
    cursor: pointer;
}
.bite:hover{
    background-color: var(--blanco);
    color: var(--oscuro);
    transition: transform 1s;
   transform: scale(1.2);

}
.bete{
    display: flex;
    justify-content: center;
    justify-items: center;
}


h1{
    font-size: 2rem;
    text-align: center;
    display: flex;
   margin-left: 20%;
   margin-bottom:0;
   color:rgb(255, 255, 255);

}

@media (max-width: 468px) {
 h1{
margin-left: 12%;
 }
}

p{
    font-size: 2rem;
    text-align: center;
    margin: 40px;
}

.subt{
    font-size: 6rem;
    text-align: center;
    margin: 40px;
   color: var(--blanco);
    margin-top: 0 ;
}

.icons{
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-top: 40px;
    gap: 40px;
}

.ing{
    width: 60%;
    height: 55%;
    border-radius: 50%;
   
}

.ing:hover{
    transition: transform 1s;
   transform: scale(1.2);
}

@media (max-width: 480px) {
    .ing{
        width: 90%;
        height: 60%;
       

    }
}




.inst:hover{
stroke: #f928c2;
}
.whatsa:hover{
stroke: #1af70a;
}
.linkd:hover{
stroke: var(--secundario);
}
.git:hover{
stroke:#0958ec ;
}
footer{
    width:100%;
    text-align: center;
    background-color:var(--oscuro);
    color: var(--blanco);
    padding: 2rem;
}


